body {
	width: 100%;
	height: 100%; 
	background: url(../img/background.jpg);
	background-position: 0 -30px;
	font-family: Tahoma;
}

.content {
	width: 1000px;
	margin: 0 auto;
	position: relative;
	background: white;
	overflow: hidden;
	box-shadow: 0.2em 0.2em 25px #031d28;
}

.contact {
	background-color: white;
	float: right;
	font-size: 14px;
	color: #41a1b9;
	margin: 12px 16px 0px 0px;
	line-height: 19px;
	box-shadow: none;
}

#our_contacts {
	font-weight: bold;
}

.logo {
	margin: 5px;
	position: absolute;
}

.logo_photo {
	position: relative;
	margin-top: 14px;
	margin-left: 23px;
	padding: 0;
}

.logo_text{
	margin-left: 93px;
	position: absolute;
	font-size: 12px;
	color: #41a1b9;
	top: 109px;
}

/* COUNTRY_FLAG */

.countrys {
	margin: 10px 24px 0 0;
	padding-top: 20px;
	background-color: white;
	float: right;
	clear: both;
	box-shadow: none;
}

li.country {
	display: inline-block;
	width: 53px;
	height: 50px;
	font-size: 10px;
}

a.country {
	color: #138aa7;
	text-align: center;
	width: 53px;
	position: absolute;
	padding-top: 44px;
	background: url(../img/flag.png) 5px 0 no-repeat;
}

a.country-nep {
	background: url(../img/flag.png) -53px 0 no-repeat;
}

a.country-tib {
	background: url(../img/flag.png) -109px 0 no-repeat;
}

a.country-but {
	background: url(../img/flag.png) -164px 0 no-repeat;
}

a.country-shri {
	background: url(../img/flag.png) -221px 0 no-repeat;
}

a.country-mald {
	background: url(../img/flag.png) -278px 0 no-repeat;
}

/* COUNTRY_FLAG END */

.img_photo {
	margin-top: 15px;
	border: 1px solid #138aa7;
}

ul {
	margin: 0;
	display: block;
	background-color: #353535;
	list-style: none;
	box-shadow: 0.2em 0.2em 25px #031d28;
	position: relative;
	line-height: 5px;
	font-size: 15px;
}

ul:after {
	display: block;
	content: '';
	clear: both;
	float: none;
}

.arrow1 {
	background: url(../img/arrow.png) 105px 10px no-repeat;
	width: 102px;
}

.arrow2 {
	background: url(../img/arrow.png) 62px 10px no-repeat;
	width: 102px;
}

.arrow3 {
	background: url(../img/arrow.png) 92px 10px no-repeat;
	width: 102px;
}
ul.menu > li {
	margin-left: 35px;
	float: left;
	position: relative;
}

ul.menu > li > a {
	display: block;
	padding: 10px;
	color: white;
	text-decoration: none;
}

ul.submenu {
	display: none;
	position: absolute;
	line-height: 10px;
	padding: 0;
}

ul.submenu >li > a {
	color: white;
	text-decoration: none;
	display: block;
	padding: 10px;
}

ul.menu > li:hover > ul.submenu {
	display: block;
}

h3 {
	font-weight: bold;
	color: #424c43;
	font-size: 17px;
}

.info {
	float: left;
	background-color: #edeef0;
	text-align: center;
	color: #424c43;
	line-height: 24px;
	font-size: 14px;
	padding: 14px;
	height: 525px;
}

.news {
	float: right;
	background-color: #edeef0;
	text-align: center;
	color: #424c43;
	line-height: 24px;
	font-size: 14px;
	padding: 14px;
	height: 525px;
}

footer {
	font-size: 12px;
	color: white;
	text-align: center;
	margin-top: 5px;
}